/*Position 속성엔 크게 4가지가 있다.
Static, Relative, Absolute, Fixed인데,
Static : position 속성을 부여하지 않았을 때 가지는 ※디폴트 값.
Relative : 현재 위치에서 상대적인 offset 속성을 줄 수 있다. 
Absolute : 부모 중에 static이 아닌 요소의 위치를 기준으로 상대적인 offset 속성을 줄 수 있다. 하지만 현재 위치가 변하는 것은 아니다.
Fixed : 브라우저에 대해서 위치를 잡는다. 스크롤에 영향을 받지 않고 고정된 위치를 가짐.
※offset 속성 : 기준이 되는 곳으로부터 얼마만큼 떨어졌는지를 정한다.*/

.Movie {
  color: antiquewhite;
}

/*z-index는 중첩 순서를 나타낸다. 작을수록 뒤로감 디폴트=0*/
.background {
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

.show {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 2;

  width: 50%;
  border: 2px solid snow;
  border-radius: 10px;
}

/*부모태그의 style인 .show의 absolute position 기준
flex-direction 속성은 플렉스 컨테이너 내의 아이템을 배치할 때 사용할 주축 및 방향(정방향, 역방향)을 지정한다.*/
.shortView {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

/* 230px 345px -> medium_cover_size */
.shortView_Img {
  float: left;
  width: 230px;
  height: 345px;
}

.shortView_letters {
  width: 70%;
  margin: 20px 0 0 30px; /*top부터 시계방향*/
}

.summary p {
  margin: 10px;
}

.shortView_letters p {
  margin: 0 0 10px 0;
}

.shortView_letters li {
  list-style-type: none;
}

.genresArray {
  margin: 0 0 20px 0;
}

.summary {
  width: 100%;
  padding: 0%, 10px, 10px, 10px;
  font-weight: 300;
}

.Detail_bg {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
  filter: brightness(50%);
}
